/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {{
    background:     {background}aa;
    background-alt: {background}dd;
    foreground:     {foreground}dd;
    selected:       {color1}dd;
    active:         {color2}dd;
    urgent:         {color3}dd;
}}
